<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Sentiment Analysis Page where we will be determining the sentiment of the product</h1>

    <form action="/Analyze" method='post'>
        <input type="text" name="Sentiment Analysis OF Badminton" placeholder="Review">
        <input type="submit" value="Analysis">
    </form>

    <div class="sentiment-box">
        {% if prediction == 0 %}
            <h2>Negative Sentiment</h2>
        {% else %}
            <h2>Positive Sentiment</h2>
        {% endif %}
    </div>

</body>
</html>