<!DOCTYPE html>
<html>
<head>
    <title>Regex Matcher</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <h1>Regex Matcher</h1>
    <p id="zero">My name is Mohammed Farhan Ahmed, I am a working data scientist intern at Innomatics Research Labs, given below is an interactive HTML-CSS website demonstrating </p>
    <p id="Par"><strong>A Regular Expression Detector</strong></p>
    <form action="/match" method="post">
        <label for="test_string">Test String:</label><br>
        <textarea id="test_string" name="test_string" rows="5" cols="10">{{ test_string }}</textarea><br>
        <label for="regex_pattern">Regex Pattern:</label><br>
        <input type="text" id="regex_pattern" name="regex_pattern" value="{{ regex_pattern }}"><br><br>
        <input type="submit" value="Match">
    </form>

    {% if matches %}
        <h2>-String passed regex Valid-</h2>
        <ul>
            {% for match in matches %}
                <li>{{ match }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>*It is not a match please try again</h2>
    {% endif %}

    <h2>Email Validation</h2>
    <form action="/validate_email" method="post">
        <label for="name">Name please:</label><br>
        <input type="text" name="name" value="{{name}}"> <br><br>
        <label for="email">Enter your valid Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="Validate">
    </form>

</body>
</html>
