body {
    background-color: #fce4ec; 
    color: #333; 
    font-family: Arial, sans-serif; /* Font family */
}

h1 {
    color: #007bff;
    text-align: center; 
}

#zero{
    text-align: center;
}

#Par {
    color: rgb(35, 3, 153);
    text-align: center;
}


form {
    background-color: #e3f2fd; /* White background for form */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

label {
    color: #df00f3; /* Gray label text color */
}

textarea, input[type="text"], input[type="submit"] {
    width: 50%; /* Full width */
    padding: 10px; /* Padding */
    margin-bottom: 10px; /* Bottom margin */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 3px; /* Border radius */
    box-sizing: content-box; /* Box sizing */
}

input[type="submit"] {
    background-color: #007bff; /* Blue submit button background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    cursor: pointer; /* Cursor style */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue hover color */
}

.match {
    color: green; /* Green color for matched substrings */
    font-weight: bold; /* Bold font for matched substrings */
}
